<!DOCTYPE html>
<html>
<head>
    <title>Greenhouse Control Panel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function updateGreenhouseData() {
                $.get('/api/update_data', function (data) {
                    $('#temperature').text(data.temperature);
                    $('#humidity').text(data.humidity);
                    $('#natural_light').text(data.natural_light);
                    $('#temperature-chart').attr('src/static', 'static/temperature_graph.png?timestamp=' + new Date().getTime()); // Update the image source with a timestamp to avoid caching
                    $('#humidity-chart').attr('src/static', 'static/humidity_graph.png?timestamp=' + new Date().getTime()); // Update the image source with a timestamp to avoid caching
                    $('#lights-chart').attr('src/static', 'static/lights_graph.png?timestamp=' + new Date().getTime()); // Update the image source with a timestamp to avoid caching

                });
            }

            function updateControlStates() {
                $.post('/api/update_controls', $('#control-form').serialize(), function () {
                    // Reload the page to reflect the updated control states
                    location.reload();
                });
            }

            function updatePrediction() {
                $.get('/api/update_prediction', function (data) {
                  var prediction = data.prediction;
                  sessionStorage.setItem('prediction', prediction); // Store the prediction value in localStorage
                  $('#prediction').text(prediction);
                });
            }

            function updatePrediction3() {
                $.get('/api/update_prediction3', function (data) {
                  var prediction = data.prediction;
                  sessionStorage.setItem('prediction3', prediction); // Store the prediction value in localStorage
                  $('#prediction3').text(prediction);
                });
            }

            $('#control-form input[type=radio]').change(function () {
                updateControlStates();
                const mode = $('input[name=mode]:checked').val();
                if (mode === 'automatic') {
                    $('#control-form input[type=checkbox]').prop('disabled', true);
                } else {
                    $('#control-form input[type=checkbox]').prop('disabled', false);
                }
            });

            $('#control-form input[type=checkbox]').change(function () {
                if ($('input[name=mode]:checked').val() === 'manual') {
                    updateControlStates();
                }
            });

            $('#control-form input[type=checkbox]').click(function () {
                if ($('input[name=mode]:checked').val() === 'manual') {
                    updateControlStates();
                }
            });

            // Get the stored prediction from localStorage on page load
            var storedPrediction = sessionStorage.getItem('prediction');
            if (storedPrediction) {
              $('#prediction').text(storedPrediction);
            }

            // Get the stored prediction from localStorage on page load
            var storedPrediction3 = sessionStorage.getItem('prediction3');
            if (storedPrediction3) {
              $('#prediction3').text(storedPrediction3);
            }

            // Periodically update the greenhouse data every 5 seconds
            setInterval(function () {
                updateGreenhouseData();
                updateControlStates();
            }, 60000);

            // Initialize control buttons state based on the initial mode selection
            const initialMode = $('input[name=mode]:checked').val();
            if (initialMode === 'automatic') {
                $('#control-form input[type=checkbox]').prop('disabled', true);
            }

            // Reload button click event
            $('#reload-button').click(function () {
                updateGreenhouseData();
                updateControlStates();

            });

            // Get prediction click event
            $('#get-prediction').click(function () {
                updatePrediction();

            });

            // Get prediction click event
            $('#get-prediction3').click(function () {
                updatePrediction3();

            });

            // Initial image load
            updateGreenhouseData();

        });
    </script>
</head>
<body>
    <h1>Current state of the greenhouse</h1>
    <div>
        <p>Temperature: <span id="temperature">{{ greenhouse_data.temperature }}</span></p>
        <p>Humidity: <span id="humidity">{{ greenhouse_data.humidity }}</span></p>
        <p>Natural Light: <span id="natural_light">{{ greenhouse_data.natural_light }}</span></p>
        <button id="reload-button">Reload</button>
    </div>

    <h2>Greenhouse controls</h2>
    <form id="control-form" method="post" action="/api/update_controls">
        <input type="radio" name="mode" value="manual" {{ 'checked' if mode == 'manual' else '' }}> Manual
        <input type="radio" name="mode" value="automatic" {{ 'checked' if mode == 'automatic' else '' }}> Automatic
        <br><br>
        <label><input type="checkbox" name="heater" {{ 'checked' if control_states.heater else '' }}> Heater</label>
        <label><input type="checkbox" name="cooler" {{ 'checked' if control_states.cooler else '' }}> Cooler</label>
        <label><input type="checkbox" name="humidifier" {{ 'checked' if control_states.humidifier else '' }}> Humidifier</label>
        <label><input type="checkbox" name="lights" {{ 'checked' if control_states.lights else '' }}> Lights</label>
    </form>

    <h3>Control states:</h3>
    <p>Heater: <span>{{ 'ON' if control_states.heater else 'OFF' }}</span></p>
    <p>Cooler: <span>{{ 'ON' if control_states.cooler else 'OFF' }}</span></p>
    <p>Humidifier: <span>{{ 'ON' if control_states.humidifier else 'OFF' }}</span></p>
    <p>Lights: <span>{{ 'ON' if control_states.lights else 'OFF' }}</span></p>
    <h3>Daily evolution of the greenhouse state</h3>

    <img id="temperature-chart" src="/static/temperature_graph.png" alt="Temperature Chart">
    <img id="humidity-chart" src="/static/humidity_graph.png" alt="Humidity Chart">
    <img id="lights-chart" src="/static/lights_graph.png" alt="Light Chart">

    <h3>Monthly cost prediction</h3>
    <p>Prediction: <span id="prediction">{{ prediction }}</span></p>

    <button id="get-prediction">Get Prediction</button>


    <h3>Monthly cost prediction for last 3 days</h3>
    <p>Prediction: <span id="prediction3">{{ prediction3 }}</span></p>

    <button id="get-prediction3">Get Prediction 3 days</button>

</body>
</html>